.donation-container {
    background-color: rgb(33, 33, 33);
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid #EA4C89;
  }

  .donation-title {
    text-align: center;
    color: #7a7a7a;
    background-color: inherit;
  }

  .donation-description {
    margin-top: 20px;
    color: #f7f7f7;
    background-color: inherit;
  }

  .donation-description strong {
    background-color: inherit;
  }
