@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pywebview-drag-region {
  height: 30px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(178, 161, 223, 0.5);
  backdrop-filter: blur(2px);
}
